.main-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin-top: 10px;
  transition: all ease .2s;
  margin-top: 80px;
}
.loading {
  position: absolute;
}
@media (max-width: 860px) {
  .main-container {
    width: 80%;
  }
}
@media (max-width: 710px) {
  .main-container {
    width: 100%;
  }
}