p .liked {
  filter: ;
}
.likes {
  margin: 0 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  height: 60%;
  justify-content: space-around;
}

.likes button {
  border: none;
  background-color: none;
  cursor: pointer;
  width: 90%;
  transition: ease-in .2s;
  font-weight: 700;
  color: gray;
}
.likes button:hover {
  color: var(--moderate-blue);
}
.liked {
  filter: hue-rotate(260deg) saturate(4);
}
.disLiked {
  filter: hue-rotate(120deg) saturate(100);
}