@keyframes newCommentAnimation {
  from {
    transform: scaleY(0%);
  }
  to {
    transform: scaleY(100%);
  }
}

.newComment {
  width: 90%;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  animation: newCommentAnimation .2s;
}
.isFullWidth {
  width: 100%;
}
.newComment form {
  display: flex;
  align-items: flex-start;
  width: 92%;
  justify-content: space-between;
  margin-left: 10px;
}
.newComment textarea {
  width: 78%;
  height: 100px;
  align-self: center;
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Rubik';
  color: rgb(45,45,45);
  resize: none;
  margin-left: 18px;
  margin-right: 10px;
}
.newComment textarea:focus {
  outline: none !important;
  border: 1px solid rgb(185,185,185);
}

.newComment img {
  height: 35px;
  width: 35px;
  margin-top: 15px;
  margin-left: 15px;
}

.newComment .close {
  color: red;
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.newComment .send-reply {
  height: 2.3rem;
  width: 5rem;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 15px;
  background-color: var(--moderate-blue);
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newComment .send-reply:hover {
  transition: ease-in-out .1s;
  background-color: var(--grayish-blue);
}
